<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Museo_pictorico_ppai.Properties.Settings.museo_ppaiConnectionString"
            connectionString="Data Source=museo-ppai.mssql.somee.com;Initial Catalog=museo-ppai;Persist Security Info=True;User ID=Lisandro1905_;Password=Belgrano1905"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>